/*全局公共样式*/
@charset "UTF-8";

/*页面背景色*/
.bg-color-def {
    background-color: #f4f5f9;
}

/*背景透明*/
.transparent {
    background-color: rgba(0, 0, 0, 0);
}

/*输入框input/x-input文字居中*/
.input-center, .input-center input {
    text-align: center !important;
    font-weight: 500;
    font-family: '华文细黑';
}

/*********Mint UI 样式覆盖 START********/

.mint-cell, .mint-cell-wrapper {
    background-image: unset !important;
}

/**********Mint UI 样式覆盖 END*********/

/*********浏览器组件样式覆盖 START********/

::-webkit-input-placeholder { /* WebKit browsers */
    color: #b3b3b3;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b3b3b3;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b3b3b3;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #b3b3b3;
}

/**********浏览器组件样式覆盖 END*********/

/*信息卡片*/
.cell_infoCard {
    background: #fff;
}

.cell_infoCard_item {
    padding: 0 0.2rem;
    font-size: 0.26rem;
}

.cell_infoCard_item .weui-cells {
    margin-top: 0;
}

.cell_infoCard_item .vux-cell-primary {
    padding-left: 0.1rem;
    border-left: 0.05rem solid #54a1de;
}

.cell_infoCard_item .weui-cell {
    text-align: left;
    color: #54a1de;
    padding-left: 0.05rem;
    border-top: 0;
    border-bottom: 1px solid #e6e6e6;
}

.cell_infoCard_item .weui-form-preview__label,
.cell_infoCard_item .weui-form-preview__value {
    font-size: 0.26rem;
}

.cell_infoCard_item .weui-cell .vux-label {
    font-size: 0.28rem;
}

.vux-no-group-title {
    margin-top: 0;
}

.cell_infoCard_item .weui-cell:before {
    border-top: 0;
}

.weui-cells.vux-no-group-title:before {
    border-top: 0;
}

.weui-form-preview__value {
    text-align: left;
}
